p {
	color: white;
}
h1 {
	font-size: 80px;
	color: white;
	font-family: Arial;
}
body {
	background-image: url("https://static.pexels.com/photos/110854/pexels-photo-110854.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
h2 {
	font-size: 20px;
	color: white;
	text-decoration: italic;
	font-family: Arial;
}
img.resize {
	max-width: 15%;
	max-height: 15%;
	position: fixed;
	bottom: 10px;
	left: 10px;
}
img.resize2 {
	max-width: 10%;
	max-height: 10%;
	position: fixed;
	bottom: 17px;
	left: 250px;
}
img.coolguy {
	position: fixed;
	top: 250px;
	left: 800px;
	max-height: 50%;
	max-width: 50%;
}